* {
  margin: 0;
}

.app_h1 {
  background-color: #adadad;
  padding: 10px;
  justify-content: center;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  color: #f4f4f4;
}

